html,
body {
  height: 100%;
  background-color: #151618;
  color: #a9abb3;
  font-family: "JetBrains Mono", monospace;
}
.libraries {
  background-color: #a9abb3;
  border: none;
  color: #151618;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 300;
}
nav {
  background-color: #151618;
}
.navlink {
  font-size: 16px;
  color: aqua;
}
.navlink:hover {
  color: blue;
}
.container {
  max-width: 60%;
}
.mainTitle {
  font-weight: 700;
}

main {
  margin-top: 1.5rem;
}
.banner {
  margin-top: 1.5rem;
}

.introText {
  margin-top: 1.5rem;

  size: 18px;
}
.fotoFelipe {
  margin-top: 1.5rem;
  max-width: 200px;
  border-radius: 1000px;
  width: 100%;
}

.iconRow {
  width: 100%;
}

a {
  padding-right: 15px;
}
.socialMediaIcons {
  height: 32px;
  width: 32px;
  border-radius: 100px;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

.socialMediaIcons:hover {
  transform: scale(1.2);
}

.blink {
  animation: blinker 0.7s step-start infinite;
}

h1,
h2,
h5 {
  color: #eeeeee;
}

small {
  font-weight: 100;
}

.downloading {
  color: aqua;
  font-size: 16px;
  text-align: center;
  width: 350px;
}
.typewriter {
  width: 100%;
  font-size: 16px;
  color: aqua;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  animation: typing 3.5s steps(16) 0.5s 1 normal both;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
